body{
    margin: 0;
    padding: 0;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: #fff;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#009933;
}

.InfoContactCar
{
    padding: 2% 5% 2% 0;
    height: 100%;
}

.InfoFooter
{
    display: block;
    font-family: 'Akaya Telivigala', cursive;
    color: #fff;
}

.RedesCAR
{
    padding: 0 5%;
    text-align: center;
}

.RedesCAR h4
{
    margin: 0;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 450;
}
.RedesCAR img
{
    margin-left: 7px;
    margin-right: 7px; 
    box-shadow: 2px 2px 20px #0000009a;
}

.VerticalLine{ 
  
    border:         none;
    border-left:    1px solid #fff;
    height:         100px;
    width:          1px;       
}

.ContainerImgRedes
{
    display: flex;
    justify-content: space-between;
}

.ContainerImgLogoCAR
{
    margin-left:10%;
}
